<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917641802576-dp3ggtbcjmu9b5cnv2h2bkjefh6masn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917641802576-dp3ggtbcjmu9b5cnv2h2bkjefh6masn0</string>
	<key>API_KEY</key>
	<string>AIzaSyCmwe2PNjkBqSXyqgIiH2uo6kbQdb7JAQg</string>
	<key>GCM_SENDER_ID</key>
	<string>917641802576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathoneproject</string>
	<key>PROJECT_ID</key>
	<string>hackathoneproject-915ff</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathoneproject-915ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917641802576:ios:7477e12528a495a6217255</string>
</dict>
</plist>